<form [formGroup]="loginform">
  <table fxFlexFill><tr><td>
  <mat-form-field appearance="fill" fxFlexFill>
    <mat-label>Email</mat-label>
    <input matInput fxFill type="email" formControlName="email">
  </mat-form-field></td></tr>
  <tr>
  <td><mat-form-field appearance="fill" fxFlexFill>
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" fxFlexFill formControlName="password">
    </mat-form-field></td>
</tr>
</table>
<br>
<div fxLayoutAlign="center end" fxFlexFill>
<button mat-raised-button type="submit" color="primary" fxFlexFill fxLayoutAlign="center end" (click)="connexion()">Connexion </button>
<!-- <mat-error *ngIf="wrongCredentials">Invalid credentials. Please Try again!!!!</mat-error> -->
</div>
</form>
