

  <button mat-raised-button
  style="background-color: #0f172a ;
  color: beige;" (click)="open(content)"> Ajout Emprunt </button>

  <br><br>
<ng-template #content let-modal>
  <mat-toolbar>
  <div class="modal-header">
    <h1 mat-dialog-title>Emprunt</h1>

  </div>
</mat-toolbar>


<div class="modal-body">
<form class="example-form" [formGroup]="formvalue">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Emprunteur</mat-label>
    <input matInput value="Titre" formControlName="emprunteur">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>

    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Livre</mat-label>
      <mat-select formControlName="nomlivre">
        <mat-option *ngFor="let item of titrelivre" [value]="item">{{ item }}</mat-option>
      </mat-select>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>

    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput formControlName="date_emprunt" type="date">
    </mat-form-field></td>
  </tr></table>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Auteur</mat-label>
    <input matInput value="nom" formControlName="auteur">
  </mat-form-field>





</form>

</div>
<div class="modal-footer">
  <!-- <td> <button id="addform" mat-raised-button type="submit" (click)="post_livre()" *ngIf="showadd">Add</button>
  </td><td><button id="updateform" mat-raised-button type="submit" (click)="update_livre()" *ngIf="showupdate">Update</button>
  </td> -->
</div>
</ng-template>




<mat-card class="container-fluid">
<table>
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Emprunteur</th>
    <th scope="col">Livre</th>
    <th scope="col">Date</th>
    <th scope="col">Auteur</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <!-- <tbody>
  <tr *ngFor="let item ">
    <td>{{ item.id}}</td>
    <td>{{ item.emprunteur}}</td>
    <td>{{ item.livre}}</td>
    <td>{{ item.date}}</td>

    <td>{{ item.auteur }}</td>
    <td>
      <button mat-mini-fab
      style="background-color: #0f172a ; color: beige;"
      >
        <mat-icon>edit</mat-icon>
      </button> &nbsp;

      <button mat-mini-fab  style="
      background-color: #bf0000 ;
      color: beige;"

      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>

  </tr>
  </tbody> -->
</table>
</mat-card>

