



<mat-form-field>
  <input matInput type="search" formControlName="search">
  <mat-label></mat-label>
</mat-form-field>
<mat-card class="container-fluid">
<table>
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Emprunteur</th>
    <th scope="col">Livre</th>
    <th scope="col">Date de l'emprunt</th>
    <th scope="col">Date de retour</th>
    <th scope="col">Remarque sur livre</th>

    <th scope="col" class="">Action</th>
  </tr>
  </thead>
  <tbody *ngFor="let item of emprunt" >
  <tr *ngIf="item.rendu != false">
    <td>{{ item.id}}</td>
    <td><mat-expansion-panel>
      <mat-panel-title></mat-panel-title>
      <mat-expansion-panel-header><div>{{ item.emprunteur[0].nom}}</div></mat-expansion-panel-header>
      <div><mat-divider></mat-divider>
     <span style="color: #0f172a;">Date de naissance :</span> {{ item.emprunteur[0].date_naissance}}
    </div>
      <div><mat-divider></mat-divider>
        <span style="color: #0f172a;">Telephone :</span> {{ item.emprunteur[0].telephone}}</div>
      <div><mat-divider></mat-divider>
      <span style="color: #0f172a;">Genre :</span> {{ item.emprunteur[0].genre}}</div>
      <div><mat-divider></mat-divider>
      <span style="color: #0f172a;">Adresse :</span> {{ item.emprunteur[0].adresse}}</div>
    </mat-expansion-panel></td><!-- Ouvrir les infos de l'emprunteur -->
    <td>{{ item.nomlivre}}</td>
    <td>{{ item.date_emprunt}}</td>
    <td>{{ item.date_retour }}</td>
    <td>{{ item.remarque_livre }}</td>


    <td class="action">
      <button mat-mini-fab
      style="background-color: #0f172a ; color: beige;" (click)="onEdit(validate, item)">
        <mat-icon>edit</mat-icon>
      </button> &nbsp;

      <button mat-mini-fab  style="
      background-color: #bf0000 ;
      color: beige;"
      (click)="delete_emprunt(item)"

      >

        <mat-icon>delete</mat-icon>
      </button>
        </td>
  </tr>
  </tbody>
</table>
</mat-card>


<ng-template #validate let-modal>
  <mat-toolbar>
  <div class="modal-header">
    <h1 mat-dialog-title>Emprunt</h1>

  </div>
</mat-toolbar>


<div class="modal-body">
<form class="example-form row g-3" [formGroup]="formvalue" >

  &nbsp;&nbsp;&nbsp;&nbsp;<div class="form-check form-switch">
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" value="true" formControlName="rendu" checked>
    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Rendu</label>
  </div>
  <div class="form-floating col-md-6">
    <input class="form-control" type="datetime-local" id="floatingInput" placeholder="Date de retour" formControlName="date_retour">
    <label for="floatingInput">Date de retour</label>
  </div>

  </form>

  <div class="modal-footer">
    <td><button id="updateform" mat-raised-button type="submit" (click)="update_emprunt()" *ngIf="showupdate">Valider</button>
    </td>
  </div>
</div>
</ng-template>


