

table {
  width: 100%;
  font-size: 15px;
}

mat-icon{
  color: beige;
}
mat-label{
  color: darkblue;
}
mat-form-field{
  color: black;
}

input{
  color: black;
}

mat-card{
  display: flex;
  width: 100%;
}

.my-table{
  width: 100%;
}


.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.modal-backdrop {
  z-index: -100;
}

mat-select{
  z-index: 9999;
}
mat-option{
  z-index: 9999;
}

